{% extends 'layout.html' %}
{% load static %}
{% block head %}
 <title>Items </title>
 <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}


{% block nav %}
<a class="navbar-brand" href="#"><h3>&nbsp;&nbsp;{{ sport.name }}</h3></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form action="#" method="post" class="form-inline mx-auto search-form">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="top-icons-agileits-w3layouts float-right">
        <li class="nav-item">
            <a href="{% url 'add_item' sport_pk=id %}" class="btn btn-info"><i class="fas fa-plus-circle"></i>Add</a>
        </li>
    </ul>
</div>

{% endblock %}

{% block content %}

<div class="fluid-container">
    <div class="table-responsive mt-2">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Quality</th>
                <th>Available</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.quality }}</td>
                    <td>{{ item.available }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.updated_at }}</td>
                    <td>
                        <a href="{% url 'edit-item' sport_pk=id %}?id={{ item.id }}" class="btn btn-info"><i class="fas fa-edit"></i>Edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>


    <nav>
        {% if items.has_other_pages %}
        <ul class="pagination justify-content-center">
        
            {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
    `       <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            

            {% for i in items.paginator.page_range %}
                {% if items.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}

<!-- <div id="imagecontrol1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'images/ban1.jpg' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/ban1.jpg' %}" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#imagecontrol1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imagecontrol1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
    </div> -->
               


<!-- <div id="accordion">
    <div class="card mb-2" id="1" >
        <a class="card-link" data-toggle="collapse" href="#card1">
            <div class="card-header ">
                <div class="d-flex justify-content-around">
                        <div class="p-1">Name</div>
                        <div class="p-1">Brand</div>
                </div>
            </div>
        </a>
        
        <div id="card1" class="collapse " data-parent="#accordion">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                            <h5 class="p-1"><label>Quality: &nbsp</label><span class="text-muted"> New</span> </h5>
                            <h5 class="p-1"><label>Quantity: &nbsp</label><span class="text-muted"> 10 </span> </h5>
                    </div>
                    <div class="d-flex flex-column">
                            <a href="#" class="btn more p-2">Update</a>
                            <a href="#" class="btn more p-2" data-toggle="modal" data-target="#model1">Description</a>
                    </div>
                </div>
                <img class="card-img-top" src="{% static 'images/ban1.jpg' %}" alt="Card image cap">
               
                <div class="modal fade" id="model1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel7" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel7">Title goes here</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="width: 100%; height:75vh; overflow-y: scroll;">
                                <img class="card-img-top" src="#" alt="Card image cap">
                                <li>gvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkmgvhbjnkm</li>
                                <li>gvhbjnkm</li>
                                <li>gvhbjnkm</li>
                                <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li> <li>gvhbjnkm</li>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>


</div> -->